.siteinfo {
    width: 45%;
    height: 350px;
    margin: 0;
    padding-left: 200px;
}
.siteheading {
    color:black;
    font-size: 60px;
    padding-top: 10px;

    margin: 0;
}
.sitesummary{
    color:black;
    padding-top: 10px;
    font-size: 40px;
}